body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.login-box {
  background: white;
  padding: 20px;
  margin: 100px auto;
  width: 300px;
  box-shadow: 0 0 10px gray;
}

button {
  padding: 10px;
  margin-top: 10px;
}
